.img-caption, .img-number, .navigator {
	text-align: center;
}

.gis-grid, .inner-grid-container, body, html {
	width: 100%;
}

.gis-outer-border, body, html {
	height: 100%;
}

.grid-image-slider {
	max-width: 100%;
}

.gis-image, .gis-image-container, .inner-grid-container {
	position: relative;
	float: left;
}

@media print {
	.grid-image-slider {
		display: none;
	}
}

* {
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.gis-grid {
	position: relative;
	overflow: hidden;
}

.gis-image-container {
	cursor: pointer;
	box-sizing: border-box;
}

.gis-outer-border {
	display: inline-block;
	overflow: hidden;
	border-color: #ABC;
	width: 100%;
	-webkit-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.img-number {
	position: absolute;
	right: 3px;
	bottom: 3px;
	cursor: default;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	background-color: rgba(25, 25, 25, .5);
}

.img-number span, .nav-arrow, .navigator {
	position: relative;
}

.img-number span {
	color: #fff;
	font-size: 11px;
	line-height: 22px;
	font-family: Arial, serif;
	padding: 3px;
}

.navigation-top {
	margin-top: 20px;
}

.navigation-bottom {
	margin-bottom: 20px;
}

.nav-arrow {
	display: inline-block;
	cursor: pointer;
}

.arrow-down, .arrow-up {
	width: 0;
	height: 0;
	border-left: 60px solid transparent;
	border-right: 60px solid transparent;
}

.arrow-up {
	border-bottom: 60px solid #000;
	top: 4px;
}

.arrow-down {
	border-top: 60px solid #000;
	bottom: 4px;
}

.gis-image {
	max-width: 100%;
	width: 100%;
	height: auto !important;
	float: none;
}

.gis-image-container a {
	display: block;
	overflow: hidden;
}

.inner-grid-container {
	box-sizing: border-box;
}

.gis-inner-border {
	overflow: hidden;
}

span.img-caption {
	position: absolute;
	width: 100%;
	height: 40px;
	bottom: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, .55);
	line-height: 40px;
	font-size: 14px;
	font-family: Arial, sans-serif;
}